    /* ************************************************************
    :: Template Name: Apland - App Landing Page
    :: Template URI: https://wrapbootstrap.com/theme/apland-app-landing-page-WB0F61H5J
    :: Template Author Name: MD NAZRUL ISLAM
    :: Template Author URI: https://wrapbootstrap.com/user/DesigningWorld
    :: Version: 2.0.0
    :: Updated: 09-04-2017
    ************************************************************ 
    *
    *
    ****************** :: Index of CSS :: ******************
    :: 01.0 Web Fonts 
    :: 02.0 Common CSS
    :: 03.0 Preloader Css
    :: 04.0 Header area css
    :: 05.0 slider area css
    :: 06.0 About Product Area CSS
    :: 07.0 More Features Area
    :: 08.0 about us area css
    :: 09.0 About App Area CSS
    :: 10.0 Call to action area css
    :: 11.0 Work Process Area CSS
    :: 12.0 Price Plan Area CSS
    :: 13.0 our advisor area css
    :: 14.0 app screenshot area css
    :: 15.0 testimonial area css
    :: 16.0 Newsletter Area CSS
    :: 17.0 FAQ area CSS
    :: 18.0 timeline area css
    :: 19.0 Download App Area CSS
    :: 20.0 blog area css
    :: 21.0 footer area css
    :: 22.0 bredcumb area css
    :: 23.0 blog area css
    :: 24.0 gallery area css
    :: 25.0 contact us area css
    :: 26.0 Sidebar Area CSS
    :: 27.0 RTL Version CSS
    ****************************** */
    /* *************************
    :: Import all css 
    ************************* */
    
    @import 'css/bootstrap.min.css';
    @import 'css/plugins.min.css';
    @import 'css/normalise.css';
    /* *************************
    :: 1.0 Web Fonts 
    ************************* */
    
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Poppins:300,400,500,600|Roboto');
    /* *************************
    :: 2.0 Common CSS
    ************************* */
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .floatleft {
        float: left
    }
    
    .floatright {
        float: right
    }
    
    .alignleft {
        float: left;
        margin-right: 15px;
    }
    
    .alignright {
        float: right;
        margin-left: 15px;
    }
    
    .aligncenter {
        display: block;
        margin: 0 auto 15px;
    }
    
    a:focus {
        outline: 0px solid;
    }
    
    .btn {
        font-weight: 500;
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    }
    
    .btn:hover {
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15)
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 15px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin-top: 0;
    }
    
    p {
        color: #808080;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    
    .container-fluid {
        padding: 0;
    }
    
    body {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }
    
    body.boxed_version {
        width: 1140px;
        margin: 0 auto;
        background-image: url(img/bg-pattern/symphony.png);
        background-repeat: repeat;
        background-attachment: fixed;
    }
    
    a,
    a:hover,
    a:focus {
        -webkit-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        text-decoration: none;
        outline: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    
    .josefin-sans {
        font-family: 'Josefin Sans', sans-serif !important;
    }
    
    ol,
    ul {
        margin: 0;
        padding: 0;
    }
    
    ol li,
    ul li {
        list-style: outside none none;
    }
    
    img {
        height: auto;
        max-width: 100%;
    }
    
    .table {
        display: table;
        z-index: 99;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .table_cell {
        display: table-cell;
        vertical-align: middle;
    }
    
    .margin_top_30 {
        margin-top: 30px;
    }
    
    .section_padding_150 {
        padding: 150px 0;
    }
    
    .section_padding_100 {
        padding: 100px 0;
    }
    
    .section_padding_100_0 {
        padding: 100px 0 0 0;
    }
    
    .section_padding_0_100 {
        padding: 0 0 100px 0;
    }
    
    .section_padding_60 {
        padding: 60px 0;
    }
    
    .section_padding_200 {
        padding: 200px 0;
    }
    
    .section_padding_100_50 {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .section_padding_100_70 {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    
    .section_heading {
        margin-bottom: 50px;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    
    .section_heading>h3 {
        color: #15151e;
        margin-top: 0;
        text-transform: capitalize;
        position: relative;
        z-index: 1;
    }
    
    .section_heading>h3>span {
        color: #2196f3;
    }
    
    .section_heading>p {
        font-size: 18px;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 600px;
    }
    
    .mt15 {
        margin-top: 15px;
    }
    
    .shortcode_area:nth-child(2n+1) {
        background-color: #f6f6f6;
    }
    
    .box-shadow-with-bg-gray {
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: #f6f6f6 !important;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .box-shadow-with-bg-gray:hover {
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1)
    }
    
    .box-shadow-with-bg-white {
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        background-color: #fff !important;
    }
    
    .box-shadow-with-bg-white:hover {
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1)
    }
    
    .table .table {
        background-color: transparent;
    }
    
    .line {
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    /* *************************
    :: 3.0 Preloader Css
    ************************* */
    
    #preloader {
        overflow: hidden;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999999999;
        background-color: #fff;
    }
    
    #load {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px
    }
    
    #load span {
        background: #ddd;
    }
    
    #load span {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%
    }
    
    #load span:nth-child(1) {
        left: 0;
        -webkit-animation-delay: .2s;
        animation-delay: .2s
    }
    
    #load span:nth-child(2) {
        left: 15px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s
    }
    
    #load span:nth-child(3) {
        left: 30px;
        -webkit-animation-delay: .4s;
        animation-delay: .4s
    }
    
    #load span:nth-child(4) {
        left: 45px;
        -webkit-animation-delay: .5s;
        animation-delay: .5s
    }
    
    #load span {
        -webkit-animation: load 1s infinite ease-in-out;
        animation: load 1s infinite ease-in-out
    }
    
    @keyframes load {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background: #673AB7
        }
        25% {
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            background: #3F51B5
        }
        50% {
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            background: #2196F3
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background: #03A9F4
        }
    }
    
    @-webkit-keyframes load {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background: #673AB7
        }
        25% {
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            background: #3F51B5
        }
        50% {
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            background: #2196F3
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background: #03A9F4
        }
    }
    
    #scrollUp {
        background-color: #2196f3;
        border-radius: 3px;
        bottom: 20px;
        color: #fff;
        font-size: 22px;
        padding: 5px;
        right: 20px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    }
    /* ******************************
    :: 4.0 Header area css
    ****************************** */
    
    header {
        height: auto;
        position: absolute;
        width: 100%;
        z-index: 99;
        background-color: transparent;
    }
    
    body.boxed_version header {
        width: 1140px;
    }
    
    .logo_area {
        padding: 27px 0;
    }
    
    .main_header_area {
        height: 90px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
    }
    
    .default-version .main_header_area,
    .rtl_version .main_header_area {
        border-bottom: 2px solid #fff;
    }
    
    .main_header_area.sticky {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        z-index: 999 !important;
        background-color: #fff;
        width: 100%;
        position: fixed;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    body.boxed_version .is-sticky .main_header_area {
        width: 100%;
        left: 50%;
        margin-left: -585px;
    }
    
    .main_menu_area {
        float: right;
        position: relative;
        z-index: 1;
    }
    
    .mainmenu {
        display: inline-block;
        text-align: right;
    }
    
    .mainmenu ul#nav li {
        display: inline-block;
        position: relative;
    }
    
    .mainmenu ul#nav li a {
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 33px 15px;
        text-transform: uppercase;
    }
    
    .default-version .mainmenu ul#nav li a,
    .boxed_version .mainmenu ul#nav li a,
    .rtl_version .mainmenu ul#nav li a {
        color: #888;
    }
    
    .default-version .mainmenu ul#nav li:hover a,
    .boxed_version .mainmenu ul#nav li:hover a,
    .rtl_version .mainmenu ul#nav li:hover a {
        color: #2196F3;
    }
    
    .sticky .mainmenu ul#nav li a {
        color: #888;
    }
    
    .mainmenu ul#nav li ul {
        text-align: left;
    }
    
    .sticky .mainmenu ul#nav li.active a,
    .sticky .mainmenu ul#nav li:hover a {
        color: #2196F3;
    }
    
    .mainmenu ul#nav li.active a,
    .mainmenu ul#nav li:hover a {
        color: rgba(255, 255, 255, 0.95);
    }
    
    .sticky .mainmenu ul#nav li a:hover,
    .sticky .mainmenu ul#nav li.current_page_item a,
    .default-version .mainmenu ul#nav li a:hover,
    .default-version .mainmenu ul#nav li.current_page_item a,
    .boxed_version .mainmenu ul#nav li a:hover,
    .boxed_version .mainmenu ul#nav li.current_page_item a {
        color: #2196f3;
    }
    
    .blog_page .main_header_area {
        background-color: #fff;
    }
    
    .mainmenu ul#nav>li>ul.sub-menu {
        left: 0;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        position: absolute;
        text-align: left;
        top: 85px;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        visibility: hidden;
        width: 250px;
        z-index: 999;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background-color: #fff;
        border-top: 5px solid #2196F3;
        box-shadow: 0 0 12px 0 rgba(17, 17, 17, 0.2);
    }
    
    .mainmenu ul#nav>li:hover>ul.sub-menu {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    
    .mainmenu ul#nav>li ul.sub-menu li {
        border-bottom: 1px solid #ddd !important;
        display: block;
        position: relative;
    }
    
    .mainmenu ul#nav>li ul.sub-menu li:last-child {
        border-bottom: 0px solid #fff!important;
    }
    
    .mainmenu ul#nav>li ul.sub-menu li a {
        color: #888;
        display: block;
        padding: 10px 15px;
        position: relative;
    }
    
    .mainmenu ul#nav>li ul.sub-menu li a:hover {
        color: #2196F3;
    }
    /* ******************************
    :: 5.0 slider area css
    ****************************** */
    
    .welcome_area {
        position: relative;
        z-index: 1;
        height: 800px;
        background-color: #f6f6f6;
        overflow: hidden;
    }
    
    .welcome_area.static_image_version {
        background-image: url(img/bg-pattern/slider-2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .welcome_area.static_image_version:before {
        position: absolute;
        z-index: 9;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        opacity: .9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    
    .single_slide {
        position: relative;
        z-index: 9;
        height: 800px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .single_slide:before {
        position: absolute;
        z-index: 9;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        content: "";
        background: rgba(17, 17, 17, 0.5);
    }
    
    .rtl_version .welcome_text_area {
        text-align: right;
    }
    
    .welcome_text_area h2 {
        color: #fff;
        font-size: 70px;
        margin-bottom: 30px;
    }
    
    .default-version .welcome_text_area h2,
    .boxed_version .welcome_text_area h2,
    .rtl_version .welcome_text_area h2 {
        color: #363636;
    }
    
    .default-version .welcome_text_area p,
    .boxed_version .welcome_text_area p,
    .rtl_version .welcome_text_area p {
        color: #888;
    }
    
    .welcome_text_area p {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
    }
    
    .welcome_text_area h3.price {
        color: #2196f3;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 25px;
    }
    
    .welcome_text_area a {
        background-color: #2196f3;
        border: medium none;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 25px;
        padding: 15px 30px 12px 70px;
        position: relative;
        text-transform: capitalize;
        z-index: 1;
        border-radius: 6px;
    }
    
    .welcome_text_area a.paypal {
        padding: 15px 30px 12px;
    }
    
    .welcome_text_area>a>i {
        font-size: 30px;
        left: 30px;
        position: absolute;
        top: 12px;
    }
    
    .welcome_text_area a:hover,
    .welcome_text_area a:focus {
        color: #2196F3;
        background-color: #fff;
    }
    
    .welcome_area_thumb {
        text-align: center;
        position: relative;
        z-index: 1;
    }
    
    .default-version .welcome_area_thumb {
        text-align: center;
    }
    
    .welcome_slider {
        overflow: hidden;
    }
    
    .welcome_slider .welcome_slides .owl-nav {
        height: auto;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;
    }
    
    .welcome_slider .welcome_slides .owl-nav .owl-prev,
    .welcome_slider .welcome_slides .owl-nav .owl-next {
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        height: 40px;
        position: absolute;
        text-align: center;
        top: -20px;
        -webkit-transition: all 300ms ease-in 0s;
        transition: all 300ms ease-in 0s;
        width: 40px;
        z-index: 999;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    }
    
    .welcome_slider .welcome_slides .owl-nav .owl-prev {
        left: -45px;
    }
    
    .welcome_slider .welcome_slides .owl-nav .owl-next {
        right: -45px;
    }
    
    .welcome_slider .welcome_slides .owl-nav .owl-prev:hover,
    .welcome_slider .welcome_slides .owl-nav .owl-next:hover {
        background-color: #2196F3;
        color: #fff;
        border: 2px solid #2196F3;
    }
    
    .welcome_slider .welcome_slides:hover .owl-nav .owl-prev {
        left: 15px;
    }
    
    .welcome_slider .welcome_slides:hover .owl-nav .owl-next {
        right: 15px;
    }
    
    .welcome_slider .welcome_slides .owl-nav .owl-prev>i,
    .welcome_slider .welcome_slides .owl-nav .owl-next>i {
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
    }
    
    .welcome_style_one {
        background-color: rgba(33, 150, 243, 0.1);
        border-radius: 50%;
        height: 500px;
        position: absolute;
        right: -10%;
        top: 50%;
        width: 500px;
        z-index: -5;
    }
    
    .welcome_style_two {
        background-color: rgba(33, 150, 243, 0.2);
        border-radius: 50%;
        bottom: 150px;
        height: 300px;
        position: absolute;
        right: 150px;
        width: 300px;
        z-index: 5;
    }
    
    .welcome_style_three {
        background-color: rgba(33, 150, 243, 0.15);
        border-radius: 50%;
        bottom: 20px;
        height: 200px;
        position: absolute;
        right: 280px;
        width: 200px;
        z-index: 9;
    }
    
    .welcome_style_four {
        background-color: rgba(33, 150, 243, 0.12);
        border-radius: 50%;
        bottom: 385px;
        height: 100px;
        position: absolute;
        right: 350px;
        width: 100px;
        z-index: 5;
    }
    
    .wel_text {
        position: relative;
        z-index: 1;
    }
    /* ***************************
    :: 6.0 About Product Area CSS
    *************************** */
    
    .single_about_part {
        border-radius: 3px;
        margin-bottom: 30px;
        padding: 15px 30px;
        position: relative;
        text-align: center;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
    }
    
    .single_about_part:hover {
        background-color: #2196f3 !important;
        color: #fff;
    }
    
    .single_about_part h3 {
        color: #15151e;
        font-size: 18px;
        font-weight: 500;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .single_about_part>p {
        margin-bottom: 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .single_about_part:hover p,
    .single_about_part:hover h3 {
        color: #fff;
    }
    
    @-webkit-keyframes sonarWave {
        from {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        }
        to {
            -webkit-transform: scale(2);
            transform: scale(2);
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }
    }
    
    @keyframes sonarWave {
        from {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        }
        to {
            -webkit-transform: scale(2);
            transform: scale(2);
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }
    }
    
    .single_about_part .feature_icon {
        border-radius: 50%;
        height: 50px;
        right: -25px;
        position: absolute;
        top: 50%;
        width: 50px;
        margin-top: -25px;
        text-align: center;
        background-color: #2196F3;
    }
    
    .single_about_part .feature_icon:before {
        background-color: #2196F3;
        content: "";
        height: 3px;
        left: 50%;
        margin-top: -1.5px;
        position: absolute;
        top: 50%;
        width: 120px;
        z-index: -5;
    }
    
    .single_about_part .feature_icon:after {
        background-color: #2196F3;
        content: "";
        height: 20px;
        left: calc(50% + 110px);
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 20px;
        z-index: 9;
        border-radius: 50%;
        -webkit-animation: sonarWave 2s linear infinite;
        animation: sonarWave 2s linear infinite;
    }
    
    .single_about_part .feature_icon>i {
        color: #fff;
        display: block;
        font-size: 24px;
        line-height: 50px;
    }
    
    .about_product_discription {
        margin-top: 30px;
    }
    /* ***********************
    :: 7.0 More Features Area
    *********************** */
    
    .more_features_area {
        background-color: #f6f6f6;
    }
    
    .single_benifits {
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 30px 15px;
        position: relative;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
        text-align: center;
    }
    
    .single_benifits .icon_box {
        background-color: #f6f6f6;
        border-radius: 50%;
        color: #888;
        font-size: 24px;
        height: 50px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 50px;
        margin: 0 auto 15px;
        display: block;
    }
    
    .icon_box>i {
        line-height: 50px;
    }
    
    .single_benifits.active .icon_box {
        color: #fff;
        background-color: #2196F3;
    }
    
    .single_benifits h5 {
        font-weight: 500;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .single_benifits p {
        margin: 0;
    }
    
    .single_benifits.active h5 {
        color: #2196F3;
    }
    /* ********************
    :: 8.0 about us area css
    ********************** */
    
    .video_area {
        position: relative;
        overflow: hidden;
        background-color: #f6f6f6;
        width: 100%;
        z-index: 1;
        background-image: url(img/bg-pattern/video-img.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .video_area:before {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content: "";
        background: #00c6ff;
        background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
        background: linear-gradient(to right, #0072ff, #00c6ff);
        opacity: 0.95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    
    .video_area_text h2 {
        color: #fff;
        font-size: 50px;
        font-weight: 500;
    }
    
    .video_area_text p {
        color: #fff;
    }
    
    .video_area_text>a.video_btn {
        background-color: #fff;
        border-radius: 6px;
        color: #2196f3;
        display: block;
        height: 55px;
        margin: 30px auto 0;
        padding: 0;
        text-align: center;
        width: 120px;
    }
    
    .video_area_text>a>i {
        line-height: 55px;
        font-size: 30px;
        font-weight: 700;
    }
    /* *******************************
    :: 9.0 About App Area CSS
    ******************************* */
    
    .about_image {
        display: block;
        position: relative;
        z-index: 1;
    }
    
    .small_thumb {
        bottom: 0;
        height: auto;
        left: 170px;
        position: absolute;
        width: auto;
        z-index: -5;
    }
    
    .about_us_text_area {
        padding-top: 100px;
    }
    
    .about_us_text_area>a {
        background-color: #2196f3;
        color: #fff;
        display: block;
        margin-top: 20px;
        text-align: center;
        width: 170px;
    }
    
    .about_us_text_area>a:hover {
        background-color: #fff;
        color: #2196f3;
    }
    
    .about_us_text_area h3 {
        font-size: 36px;
    }
    /* *******************************
    :: 10.0 Call to action area css
    ******************************* */
    
    .total_subscriber_area {
        position: relative;
        z-index: 1;
        background-image: url(img/bg-pattern/call-to-action.jpg);
        background-size: cover;
        background-position: 0 0;
    }
    
    .total_subscriber_area:before {
        position: absolute;
        z-index: -5;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        content: "";
        top: 0;
        left: 0;
    }
    
    .total_subscriber_text>a {
        background-color: #fff;
        display: inline-block;
        float: right;
        color: #2c3e50;
    }
    
    .total_subscriber_text>a:hover {
        background-color: #2196f3;
        color: #fff;
    }
    
    .total_subscriber_text>h3 {
        color: #fff;
        display: inline-block;
        font-weight: 500;
    }
    
    .total_subscriber_text>h3 span.counter {
        color: #2196f3;
        display: inline-block;
        font-size: 36px;
        text-align: right;
        width: 220px;
    }
    /* *******************************
    :: 11.0 Work Process Area CSS
    ******************************* */
    
    .single_work_step {
        margin-bottom: 30px;
        padding: 15px;
        text-align: center;
    }
    
    .single_work_step>i {
        color: #2196f3;
        display: block;
        font-size: 50px;
        margin-bottom: 15px;
    }
    
    .single_work_step>h5 {
        font-weight: 300;
    }
    
    .single_work_step>p {
        margin: 0;
    }
    /* *************************
    :: 12.0 Price Plan Area CSS
    ************************* */
    
    .price_plan_area {
        background-color: #f6f6f6;
    }
    
    .single_price_plan {
        text-align: center;
        background-color: #fff;
        border-radius: 6px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 30px;
        border: 3px solid transparent;
    }
    
    .single_price_plan.active {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    .single_price_plan .title {
        color: #363636;
        padding: 30px 0 15px 0;
        text-transform: capitalize;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .single_price_plan .title h3,
    .single_price_plan .title p {
        margin: 0;
    }
    
    .single_price_plan .price {
        background-color: #2196f3;
        border-radius: 50%;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        color: #fff;
        height: 80px;
        margin: 0 auto;
        width: 80px;
    }
    
    .single_price_plan .price h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 80px;
    }
    
    .single_price_plan .description {
        padding: 15px 15px 0 15px;
    }
    
    .single_price_plan .description>p {
        line-height: 16px;
        margin: 0;
        padding: 10px 0;
    }
    
    .price span {
        font-size: 16px;
    }
    
    .single_price_plan .button {
        padding: 20px 0 40px 0;
    }
    
    .single_price_plan .button>a {
        background-color: transparent;
        color: #2196f3;
    }
    
    .single_price_plan .button>a:hover,
    .single_price_plan .button>a:focus {
        color: #fff;
        background-color: #2196F3;
    }
    
    .single_price_plan:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    }
    
    .price_plan_area.price .single_price_plan {
        margin-bottom: 30px;
    }
    /* ******************************
    :: 13.0 our advisor area css
    ****************************** */
    
    .single_advisor_profile {
        border: 1px solid #f6f6f6;
        margin-bottom: 30px;
        position: relative;
        text-align: center;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
    }
    
    .single_advisor_details_info>h5 {
        color: #2196F3;
        margin-bottom: 5px;
        margin-top: 15px;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .single_advisor_details_info>p {
        margin-bottom: 0;
    }
    
    .advisor_thumb {
        margin: 0 auto;
    }
    
    .advisor_social_link {
        border-top: 1px solid #ddd;
        margin: 15px;
    }
    
    .advisor_social_link>a {
        border: 1px solid #ddd;
        border-radius: 50%;
        display: inline-block;
        height: 30px;
        margin-top: 15px;
        width: 30px;
        color: #2196F3;
    }
    
    .advisor_social_link>a:hover {
        border: 1px solid transparent;
        background-color: #2196F3;
        color: #fff;
    }
    
    .advisor_social_link>a>i {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
    /* *******************************
    :: 14.0 app screenshot area css
    ******************************* */
    
    .app_screenshots .owl-item .single_screenshot {
        border: 2px solid #ddd;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    }
    
    .app_screenshots .owl-item.center .single_screenshot {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
        border: 2px solid #2196f3;
    }
    
    .app_screenshots {
        position: relative;
        z-index: 1;
    }
    
    .app_screenshots .owl-prev,
    .app_screenshots .owl-next {
        background-color: transparent;
        border: 2px solid #ddd;
        border-radius: 10px;
        height: 44px;
        position: absolute;
        text-align: center;
        width: 44px;
        color: #ddd;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .app_screenshots .owl-prev>i,
    .app_screenshots .owl-next>i {
        font-size: 30px;
        line-height: 40px;
    }
    
    .app_screenshots .owl-prev:hover,
    .app_screenshots .owl-next:hover {
        background-color: #2196f3;
        border: 2px solid #2196F3;
        color: #fff
    }
    
    .app_screenshots .owl-prev {
        margin-top: -22px;
        left: -22px;
        top: 50%;
    }
    
    .app_screenshots .owl-next {
        margin-top: -22px;
        right: -22px;
        top: 50%;
    }
    /* ******************************
    :: 15.0 testimonial area css
    ****************************** */
    
    .testimonial_area {
        position: relative;
        z-index: 1;
        background-image: url(img/bg-pattern/testimonials.jpg);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .testimonial_area:before {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -5;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(17, 17, 17, 0.7);
    }
    
    .single_testimonial_area {
        position: relative;
        z-index: 1;
    }
    
    .testimonial_area .testimonial_text {
        position: relative;
        z-index: 1;
    }
    
    .testimonial_text>p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        padding: 0 40px;
        position: relative;
        z-index: 1;
    }
    
    .testimonial_text>p:before {
        position: absolute;
        top: -10px;
        left: 0;
        content: "\f0b1";
        z-index: 9;
        width: auto;
        height: auto;
        font-family: "icofont";
        font-size: 40px;
        color: #2196f3
    }
    
    .testimonial_text>p:after {
        position: absolute;
        bottom: -10px;
        right: 0;
        content: "\f0b2";
        z-index: 9;
        width: auto;
        height: auto;
        font-family: "icofont";
        font-size: 40px;
        color: #2196f3
    }
    
    .testimonial_author_name {
        margin-top: 15px;
    }
    
    .testimonial_author_name>h5 {
        color: #fff;
        font-weight: 500;
        margin-bottom: 5px;
    }
    
    .testimonial_author_name>h6 {
        margin-bottom: 0;
        color: #fff;
        font-weight: 500;
    }
    
    .testimonial_author_thumb {
        border: 5px outset #fff;
        border-radius: 50%;
        height: 120px;
        margin: 0 auto 30px;
        padding: 5px;
        width: 120px;
    }
    
    .testimonial_author_thumb>img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    
    .testimonial_text .rating {
        margin: 15px 0 0;
        text-align: center;
    }
    
    .testimonial_text .rating>i {
        font-size: 20px;
        color: #ff9800;
    }
    
    .testimonial_area .owl-dot {
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        height: 15px;
        margin: 0 3px;
        width: 15px;
    }
    
    .testimonial_area .owl-dots {
        text-align: center;
        margin-top: 30px;
    }
    
    .testimonial_area .owl-dot.active {
        background-color: #2196f3;
    }
    /* **************************
    :: 16.0 Newsletter Area CSS
    ************************** */
    
    .newsletter_area {
        background-color: #f6f6f6;
        position: relative;
        z-index: 1;
        background-image: url(img/bg-pattern/call-to-action.jpg);
        background-size: cover;
        background-position: 0 0;
    }
    
    .newsletter_area:before {
        background-color: rgba(17, 17, 17, 0.7);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        z-index: -5;
        content: "";
    }
    
    .newsletter_area .section_heading>h3,
    .newsletter_area .section_heading>p {
        color: #fff;
    }
    
    #mc_embed_signup {
        background-color: transparent;
        clear: left;
        width: 100%;
    }
    
    #mc_embed_signup form {
        padding: 0;
    }
    
    #mc_embed_signup input.email {
        background-color: #fff;
        border: 0 solid transparent;
        border-radius: 4px 0 0 4px;
        font-size: 16px;
        height: 60px;
        padding: 15px;
        width: 70%;
    }
    
    #mc_embed_signup .button {
        background-color: #2196f3;
        border: 2px solid #fff;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        height: 60px;
        line-height: 60px;
        margin: 0 0 0 -5px;
        -webkit-transition: all 0.23s ease-in-out 0s;
        transition: all 0.23s ease-in-out 0s;
    }
    /* ==================
    :: 17.0 FAQ area CSS
    ================== */
    
    .faq_area {
        background-color: #f6f6f6;
    }
    
    .single-accordion {
        margin-bottom: 15px;
    }
    
    .single-accordion:last-of-type {
        margin-bottom: 0px;
    }
    
    .single-accordion h5 a {
        background-color: #2196f3;
        border-radius: 3px;
        color: #fff;
        display: block;
        font-size: 16px;
        font-weight: 300;
        padding: 20px 45px 20px 20px;
        position: relative;
        text-transform: capitalize;
    }
    
    .single-accordion h5 a.collapsed {
        background-color: #fff;
        color: #888;
    }
    
    .single-accordion h5 a span {
        font-size: 30px;
        height: 60px;
        right: 0;
        position: absolute;
        text-align: center;
        top: -1px;
        width: 50px;
    }
    
    .single-accordion h5 a span>i {
        line-height: 60px;
    }
    
    .single-accordion h5 a.collapsed span.accor-close {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    
    span.accor-open {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    
    .single-accordion h5 a.collapsed span.accor-open {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }
    
    .single-accordion h5 {
        margin-bottom: 0;
        text-transform: uppercase;
    }
    
    .single-accordion .accordion-content {
        background-color: #fff;
        box-shadow: none;
    }
    
    .single-accordion .accordion-content p {
        padding: 20px 20px 10px;
        color: #808080;
    }
    
    .find_answer_area {
        background-color: #2196f3;
        border-radius: 5px;
        color: #fff;
        padding: 48px 30px;
        text-align: center;
    }
    
    .find_answer_area>h5 {
        font-weight: 300;
        margin-bottom: 5px;
    }
    
    .find_answer_area>p {
        color: #fff;
    }
    
    .find_answer_area>a {
        background-color: #fff;
        border-radius: 5px;
        color: #2196f3;
        display: block;
        height: 54px;
        margin: 15px auto 0;
        padding: 15px;
        width: 150px;
    }
    
    .find_answer_area>a:hover {
        box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.5);
    }
    /* *******************************
    :: 18.0 timeline area css
    ******************************* */
    
    .single_timeline_block .timeline_text_content {
        width: calc(50% - 50px);
    }
    
    .single_timeline_block.odd-item .timeline_text_content {
        float: right;
    }
    
    .single_timeline_block.even-item .timeline_text_content {
        text-align: right;
    }
    
    .single_timeline_block {
        position: relative;
        z-index: 1;
    }
    
    .single_timeline_block .timeline_icon {
        background-color: #2196f3;
        border-radius: 50%;
        color: #fff;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 50px;
        z-index: 9;
        border: 3px solid #fff;
    }
    
    .single_timeline_block .timeline_icon i {
        font-size: 24px;
        line-height: 44px;
    }
    
    .timeline_text_content {
        background-color: #f6f6f6;
        border-radius: 5px;
        padding: 20px;
        position: relative;
        z-index: 1;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .timeline_text_content p {
        margin: 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .timeline_text_content:hover {
        background-color: #2196f3 !important;
        color: #fff;
    }
    
    .timeline_text_content:before {
        background-color: #ddd;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 2px;
        z-index: -5;
    }
    
    .timeline_text_content:after {
        background-color: #f6f6f6;
        content: "";
        height: 30px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 30px;
        z-index: -9;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .timeline_text_content:hover:after {
        background-color: #2196f3;
    }
    
    .timeline_text_content:hover p {
        color: #fff;
    }
    
    .single_timeline_block.even-item .timeline_text_content:before {
        left: calc(100% + 49px);
    }
    
    .single_timeline_block.odd-item .timeline_text_content:before {
        right: calc(100% + 49px);
    }
    
    .single_timeline_block.even-item .timeline_text_content:after {
        right: -5px;
        top: 8px;
    }
    
    .single_timeline_block.odd-item .timeline_text_content:after {
        left: -5px;
        top: 8px;
    }
    
    .timeline_text_content>h4,
    .timeline_text_content>h6 {
        font-weight: 500;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    /* ==========================
    :: 19.0 Download App Area CSS
    ========================== */
    
    .download_app_area {
        position: relative;
        z-index: 1;
        background-color: #2196f3;
        padding-bottom: 30px;
    }
    
    .download_app_text {
        color: #fff
    }
    
    .download_app_text h1 {
        font-size: 50px;
    }
    
    .download_app_text>p {
        margin-bottom: 20px;
        color: #fff;
    }
    
    .download_app_text>a {
        background-color: #fff;
        color: #2196f3;
        display: inline-block;
        margin-top: 30px;
    }
    
    .download_app_text>a:hover {
        box-shadow: 0 0 70px 6px rgba(255, 255, 255, 0.7);
    }
    
    .download_img {
        margin-top: 50px;
    }
    /* ******************************
    :: 20.0 blog area css
    ****************************** */
    
    .blog_area {
        background-color: #fff;
    }
    
    .single_latest_news_area {
        margin-bottom: 30px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .single_latest_news_img_area {
        text-align: center;
    }
    
    .single_latest_news_img_area img {
        border-radius: 3px;
    }
    
    .single_latest_news_area .single_latest_news_img_area .published_date {
        left: 15px;
        bottom: 15px;
    }
    
    .single_latest_news_text_area {
        padding: 15px;
    }
    
    .single_latest_news_text_area .news_title h4 {
        color: #2196F3;
        font-size: 16px;
        line-height: 30px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        font-weight: 400;
    }
    
    .single_latest_post h6 {
        color: #888;
        font-weight: 300;
    }
    
    .single_latest_post h6:hover {
        color: #2196f3;
    }
    
    .single_latest_news_area:hover .single_latest_news_text_area .news_title h4 {
        color: #2196F3;
    }
    
    .news_content>p {
        line-height: 27px;
        color: #888;
    }
    
    .single_latest_news_area .author,
    .single_latest_news_area .date {
        display: inline-block;
        margin-right: 15px;
    }
    
    .single_latest_news_area .author>i,
    .single_latest_news_area .author>p,
    .single_latest_news_area .date>i,
    .single_latest_news_area .date>p {
        display: inline-block;
    }
    
    .single_latest_news_area .author>i,
    .single_latest_news_area .date>i {
        color: #2196F3;
        font-size: 20px;
        padding-right: 5px;
    }
    
    .single_latest_news_area .author>p,
    .single_latest_news_area .date>p {
        color: #888;
        font-size: 13px;
    }
    
    .learn_more_button>a {
        background-color: #2196F3;
        border: 2px solid #2196F3;
        color: #fff;
        width: 100%;
    }
    
    .learn_more_button>a:hover,
    .learn_more_button>a:focus {
        background-color: transparent;
        border: 2px solid #2196F3;
        color: #2196F3;
    }
    /* ********************
    :: 21.0 footer area css
    ******************** */
    
    .footer_bottom_area {
        background-color: #f6f6f6;
        padding: 50px 0 0;
        display: block;
        position: relative;
        text-align: center;
    }
    
    .footer_menu a {
        color: #888;
        font-weight: 300;
        padding: 0 15px;
        border-right: 1px solid #ddd;
    }
    
    .footer_menu a:hover {
        color: #2196f3;
    }
    
    .footer_menu ul>li {
        display: inline-block;
    }
    
    .footer_menu ul>li:last-child a {
        border-right: 0 solid transparent;
    }
    
    .single_footer_area a:hover {
        color: #2196f3
    }
    
    .footer_copywrite_area {
        display: block;
        padding: 30px 0 50px 0;
        background-color: #f6f6f6;
    }
    
    .footer_social_area {
        margin-bottom: 30px;
    }
    
    .footer_social_area a {
        border-radius: 50%;
        height: 40px;
        text-align: center;
        width: 40px;
        display: inline-block;
        border: 2px solid #ddd;
        background-color: #fff;
    }
    
    .footer_social_area a:hover {
        background-color: #2196f3;
        border-color: #2196f3;
        color: #fff;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
    .footer_social_area a i {
        line-height: 36px;
    }
    
    .footer_bottom_area .item {
        margin-bottom: 50px;
    }
    
    .footer_bottom p i {
        color: #2196f3;
    }
    
    .footer_bottom>p {
        margin: 0;
    }
    
    .footer_bottom a {
        color: #2196f3;
    }
    /* **********************
    :: 22.0 bredcumb area css
    ********************** */
    
    .breadcumb_area {
        background-image: url("img/bg-pattern/slider-2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    
    .breadcumb_area:before {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 17, 0.5);
        content: "";
        z-index: -5;
    }
    
    .breadcumb_section {
        position: relative;
        margin-top: 190px;
        width: 100%;
        height: 160px;
    }
    
    ol.breadcrumb {
        background-color: transparent;
        text-align: center;
    }
    
    .breadcrumb>li,
    .breadcrumb>li.active {
        color: #fff;
        display: inline-block;
        margin: 0 5px;
    }
    
    .breadcrumb li>a {
        color: #2196F3;
    }
    
    .breadcrumb li>a:hover {
        color: #2196F3;
    }
    
    .page_title {
        position: relative;
        text-align: center;
        z-index: 99;
    }
    
    .page_title>h3 {
        color: #2196F3;
        text-transform: uppercase;
    }
    
    ul.pager li {
        display: inline-block;
    }
    
    ul.pager li {
        display: inline-block;
        padding: 5px 10px;
    }
    
    ul.pager .previous {
        float: left;
    }
    
    ul.pager .next {
        float: right;
    }
    /* ******************
    :: 23.0 blog area css
    ****************** */
    
    .latest_blog_news_area.blog .single_latest_news_area {
        margin-bottom: 50px;
    }
    
    .blog-img {
        border: 1px solid #f6f6f6;
        padding: 5px;
    }
    
    .singl-blog-top-bg-area p {
        color: #2196F3;
        padding: 40px 0;
        font-weight: 500;
        font-size: 18px;
    }
    
    .singl-blog-top-bg-area p a {
        color: #2196F3;
    }
    
    #blog-carousel {
        padding: 5px;
        border: 1px solid #ededed;
        margin: 100px 0;
    }
    
    .singl-blog-title h4 {
        color: #2196F3;
        font-weight: 400;
        padding: 30px 0 10px;
    }
    
    .singl-blog-status-bar {
        background: #f6f6f6 none repeat scroll 0 0;
        border-left: 10px solid #2196F3;
        margin-bottom: 30px;
        position: relative;
    }
    
    .singl-blog-status-bar span {
        display: inline-block;
        padding: 20px;
        font-size: 14px;
    }
    
    .singl-blog-status-bar span i {
        color: #2196F3;
        font-size: 16px;
        margin-right: 10px;
    }
    
    .singl-blog-status-bar span>a {
        color: #888;
    }
    
    .singl-blog-details p {
        font-size: 14px;
        margin: 0;
        padding-bottom: 25px;
    }
    
    .share-links {
        padding: 15px;
    }
    
    .tag-share {
        overflow: hidden;
    }
    
    .blog-tag span {
        color: #888;
        font-size: 14px;
        padding: 0 10px;
    }
    
    .blog-tag button {
        background: #2196F3;
        border: medium none transparent;
        border-radius: 30px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        margin: 0 4px;
        padding: 0 20px;
    }
    
    .blog-tag {
        padding: 9px 0;
    }
    
    .blog-share button {
        margin: 0 5px;
    }
    
    .blog-share button.like {
        background: transparent none repeat scroll 0 0;
        border: 1px solid #ccc;
        border-radius: 25px;
        color: #888;
        font-size: 10px;
        padding: 10px 0;
    }
    
    .blog-share button.like i {
        color: #2196F3;
        font-size: 14px;
        margin: 0 20px;
    }
    
    .blog-share button.like span {
        background: #999 none repeat scroll 0 0;
        font-size: 10px;
        margin: 0 20px;
    }
    
    .media-body p {
        margin: 0;
    }
    
    .media-bottom {
        margin-top: 17px;
    }
    
    .media-bottom p {
        color: #999999;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        text-align: justify;
    }
    
    .border-left {
        border-left: 1px solid #e5e5e5;
    }
    
    .no-margin-bottom {
        margin-bottom: 0;
    }
    
    .border-bottom-1 {
        margin-top: 70px;
        border-bottom: 1px solid #ececec;
    }
    
    .singl-blog-post figure {
        margin: 0;
    }
    
    .blog-details {
        text-align: left;
    }
    
    .singl-blog-status-bar>span:nth-child(4) {
        float: right;
    }
    
    .social-links {
        display: inline-block;
        padding-left: 14px;
        margin: 0;
    }
    
    .social-links li {
        display: inline-block;
        list-style: none;
    }
    
    .social-links li>a {
        border: 2px solid #2196F3;
        background-color: #2196F3;
        display: block;
        height: 30px;
        text-align: center;
        width: 30px;
        color: #fff;
        border-radius: 50%;
    }
    
    .social-links a:hover {
        background-color: transparent;
        border: 2px solid #2196F3;
        color: #2196F3;
    }
    
    .social-links li>a>i {
        line-height: 30px;
    }
    
    .share-promt {
        color: #888;
        font-size: 14px;
        line-height: 16px;
    }
    /* *********************
    :: 24.0 gallery area css
    ********************* */
    
    .single_gallery_item {
        display: inline-block;
        float: left;
        width: 25%;
        position: relative;
        z-index: 1;
    }
    
    .single_gallery_item:before {
        width: 50%;
        height: 51%;
        content: "";
        background-color: #2196F3;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        -webkit-transform: translate(0px, 0px) scale(0);
        transform: translate(0px, 0px) scale(0);
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    
    .single_gallery_item:after {
        width: 50%;
        height: 51%;
        content: "";
        background-color: #2196F3;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        -webkit-transform: translate(0px, 0px) scale(0);
        transform: translate(0px, 0px) scale(0);
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transition-delay: 100ms;
        transition-delay: 100ms;
    }
    
    .sg_hover_effects {
        height: 100%;
        width: 100%;
    }
    
    .sg_hover_effects:before {
        width: 50%;
        height: 51%;
        content: "";
        background-color: #2196F3;
        position: absolute;
        z-index: 5;
        bottom: 0;
        -webkit-transform: translate(0px, 0px) scale(0);
        transform: translate(0px, 0px) scale(0);
        left: 0;
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transition-delay: 200ms;
        transition-delay: 200ms;
    }
    
    .sg_hover_effects:after {
        width: 50%;
        height: 51%;
        content: "";
        background-color: #2196F3;
        position: absolute;
        z-index: 5;
        bottom: 0;
        -webkit-transform: translate(0px, 0px) scale(0);
        transform: translate(0px, 0px) scale(0);
        right: 0;
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transition-delay: 300ms;
        transition-delay: 300ms;
    }
    
    .single_gallery_item:hover:before,
    .single_gallery_item:hover:after,
    .single_gallery_item:hover .sg_hover_effects:after,
    .single_gallery_item:hover .sg_hover_effects:before {
        -webkit-transform: translate(0px, 0px) scale(1);
        transform: translate(0px, 0px) scale(1);
    }
    
    .single_gallery_item>a>img {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .single_gallery_item .gallery_info {
        height: auto;
        left: 0;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        position: absolute;
        text-align: center;
        top: 35%;
        width: 100%;
        z-index: 99;
    }
    
    .single_gallery_item:hover .gallery_info {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    .gallery_info h5 {
        border-bottom: 1px dashed #fff;
        color: #fff;
        margin-bottom: 5px;
        padding: 10px 0;
        text-transform: uppercase;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        display: inline-block;
    }
    
    .gallery_info p {
        color: #fff;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .single_gallery_item_info {
        background-color: #f6f6f6;
        padding: 5px 15px;
    }
    
    .single_gallery_item_info .headline>h4 {
        color: #2c3e50;
        line-height: 27px;
    }
    
    .single_gallery_item_info .description>p {
        font-size: 14px;
    }
    /* *************************
    :: 25.0 contact us area css
    ************************** */
    
    .message_now_area {
        position: relative;
        z-index: 1;
    }
    
    .contact_input_area .form-group input,
    .contact_input_area .form-group textarea {
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid #ddd;
        border-radius: 6px;
        height: 50px;
        margin-bottom: 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 100%;
        box-shadow: none;
        font-weight: 300;
    }
    
    .contact_input_area .form-group input:focus,
    .contact_input_area .form-group textarea:focus {
        border: 2px solid #2196f3;
    }
    
    .contact_input_area .form-group textarea {
        height: 150px;
    }
    
    .message_title {
        margin-bottom: 60px;
        text-align: center;
    }
    
    .contact_input_area button {
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid #ddd;
        border-radius: 6px;
        color: #888;
        display: block;
        font-weight: 500;
        height: 50px;
        line-height: 46px;
        margin: 0 auto 30px;
        padding: 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 200px;
        cursor: pointer;
    }
    
    .contact_input_area button:hover {
        background-color: #2196f3;
        color: #fff;
        border: 2px solid #2196f3;
    }
    
    .success,
    .error {
        padding: 1em;
        margin-bottom: 12px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        border-radius: 4px;
    }
    
    .success {
        color: #fff;
        background-color: #2ecc71
    }
    
    .error {
        color: #fff;
        background-color: #c0392b;
    }
    
    .map_area {
        width: 100%;
        height: 400px;
    }
    /* *********************
    :: 26.0 Sidebar Area CSS
    ********************* */
    
    .event_location,
    .latest_post,
    .catagory_section,
    .achive_section {
        margin-bottom: 30px;
    }
    
    .search_post>h5,
    .event_location>h5,
    .latest_post>h5,
    .catagory_section>h5,
    .tag_section>h5,
    .achive_section>h5 {
        color: #2196F3;
        font-weight: 400;
    }
    
    .achive_section ul li>a,
    .catagory_section ul li>a {
        border-bottom: 1px dashed #dadada;
        color: #888;
        display: block;
        padding: 5px 0 5px 10px;
    }
    
    .achive_section ul li>a:hover,
    .catagory_section ul li>a:hover {
        border-bottom: 1px dashed transparent;
        color: #2196F3;
        padding: 5px 0 5px 15px;
    }
    
    .achive_section ul li>a>i,
    .catagory_section ul li>a>i {
        padding-right: 10px;
    }
    
    .latest_post .single_latest_post {
        border-bottom: 1px dashed #dadada;
        position: relative;
        z-index: 1;
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .search_post button {
        display: none;
    }
    
    .latest_post .single_latest_post>a>h5 {
        margin: 0;
        color: #2196F3;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        font-weight: 400;
    }
    
    .latest_post .single_latest_post>a>h5:hover {
        color: #2196F3;
    }
    
    .latest_post .single_latest_post>p {
        margin: 0;
        color: #888;
    }
    
    .latest_post .single_latest_post>img {
        left: 0;
        position: absolute;
        top: 15px;
        width: 90px;
        height: auto;
        z-index: 9;
    }
    
    .tag_section ul>li {
        display: inline-block;
        margin: 2px;
        float: left;
    }
    
    .tag_section ul>li>a {
        border: 2px solid #ddd;
        border-radius: 6px;
        color: #888;
        display: inline-block;
        padding: 5px 10px;
        width: auto;
    }
    
    .tag_section ul>li>a:hover {
        background-color: #2196F3;
        border: 2px solid transparent;
        color: #fff;
    }
    
    .search_post>form input {
        border: 1px solid #ddd;
        height: 40px;
        margin-bottom: 30px;
        padding: 5px 15px;
        width: 100%;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    .search_post>form input:focus {
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
    }
    /* ::::::::::::::::::::
    :: 27.0 RTL Version CSS
    :::::::::::::::::::: */
    
    body.rtl_version .logo_area {
        float: right;
    }
    
    body.rtl_version .main_menu_area {
        float: left;
    }
    
    body.rtl_version .single-accordion h5 a {
        padding: 20px 45px 20px 20px;
        text-align: right;
    }
    
    body.rtl_version .single-accordion h5 a span {
        font-size: 30px;
        height: 58px;
        left: auto;
        position: absolute;
        text-align: center;
        top: -1px;
        width: 50px;
        right: 0;
    }
    
    body.rtl_version .single-accordion .accordion-content p {
        text-align: right;
    }
    
    body.rtl_version #mc_embed_signup input.email {
        text-align: right;
    }
    
    body.rtl_version .contact_input_area .form-group input,
    body.rtl_version .contact_input_area .form-group textarea {
        text-align: right;
    }
    
    body.rtl_version .single_footer_area {
        text-align: right;
    }
    
    body.rtl_version .mainmenu ul#nav>li ul.sub-menu li a {
        text-align: right;
    }
    
    body.rtl_version .mainmenu ul#nav>li>ul.sub-menu {
        right: 0;
        left: auto;
    }
    
    body.rtl_version .single_about_part .feature_icon {
        left: -25px;
        margin-top: -25px;
    }
    
    body.rtl_version .single_about_part .feature_icon:before {
        right: 50%;
        top: 50%;
        left: auto;
    }
    
    body.rtl_version .single_about_part .feature_icon:after {
        right: calc(50% + 110px);
        left: auto;
    }
    
    body.rtl_version .about_us_text_area,
    body.rtl_version .big_thumb {
        text-align: right;
    }
    
    body.rtl_version .about_us_text_area>a {
        float: right;
    }
    
    body.rtl_version .small_thumb {
        bottom: 0;
        right: 170px;
        left: auto;
    }
    
    body.rtl_version .total_subscriber_text>a {
        float: left;
    }
    
    body.rtl_version .total_subscriber_text>h3 {
        margin-bottom: 0;
        margin-left: 70px;
        margin-top: 0;
    }
    
    #mc_embed_signup .clear {
        display: inline;
        width: 100%;
    }
    /* One Page Demo CSS */
    
    .onepage_demo_area {
        background-color: #fff;
        border-radius: 0 0 0 4px;
        color: #2c3e50;
        height: 60%;
        padding: 15px 7.5px;
        position: fixed;
        right: -270px;
        top: 20%;
        width: 270px;
        z-index: 999;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
    
    .onepage_demo_area.on {
        right: 0;
    }
    
    .onepage_demo_switcher,
    .color_picker_switcher {
        background-color: #2c3e50;
        border-radius: 4px 0 0 4px;
        color: #fff;
        cursor: pointer;
        height: 50px;
        left: -50px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 50px;
    }
    
    .onepage_demo_switcher i,
    .color_picker_switcher i {
        font-size: 24px;
        line-height: 50px;
        color: #fff;
    }
    
    .onepage_all_demo_container {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .onepage_single_demo>a {
        background-color: #2c3e50;
        border: 1px solid #ddd;
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: 400;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        line-height: 2.2;
    }
    
    .onepage_single_demo>a:hover {
        background-color: #2196F3;
    }
    
    .onepage_single_demo:last-child>a {
        margin-bottom: 0;
    }
    /* Color Picker CSS */
    
    .color_picker_area {
        background-color: #fff;
        border-radius: 0 0 4px;
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
        height: auto;
        left: -250px;
        padding: 30px 25px 30px 30px;
        position: fixed;
        top: 20%;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 250px;
        z-index: 9999;
    }
    
    .color_picker_switcher {
        border-radius: 0 4px 4px 0;
        right: -50px;
        left: auto;
    }
    
    .color_picker_area.on {
        left: 0;
    }
    
    input[id*="cor"] {
        display: none;
    }
    
    input[id*="cor"]:checked+label:before {
        content: '\efad';
        display: block;
        position: absolute;
        font-family: 'icofont';
        top: 2px;
        left: 4px;
        font-size: 20px;
        color: #fff;
        font-weight: 400;
    }
    
    label[class*="cor"] {
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        margin-right: 5px;
        position: relative;
        width: 30px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    
    label[class*="cor"]:hover {
        border-color: #15151e;
    }
    
    .cor1 {
        background-color: #673AB7;
    }
    
    .cor2 {
        background-color: #2196F3;
    }
    
    .cor3 {
        background-color: #4CAF50;
    }
    
    .cor4 {
        background-color: #FF9800;
    }
    
    .cor5 {
        background-color: #FFEB3B;
    }
    
    .cor6 {
        background-color: #FF5722;
    }
    
    .cor7 {
        background-color: #F44336;
    }
    
    .cor8 {
        background-color: #00BCD4;
    }
    
    .cor9 {
        background-color: #009688
    }
    
    .cor10 {
        background-color: #E91E63;
    }